body {
  color: white !important;
  margin: 0px !important;
  padding: 0px !important;
}

h1, h2, h3, h4, p, span {
  color: white !important;
}

.card-img-overlay {
  margin: 0px !important;
  padding: 0px !important;
}

.main-content {
  
}

.side-bg {
  margin: 0px;
  background-color: darken($color: #000000, $amount: 0);
  opacity: 0.8;
  padding: 20px;

}

.side-content {
  z-index: 2;
}

.search-container {
  width: 80px;
  text-align: center;
  background-color: #E2560D;
  padding: 20px;
  cursor: pointer;
}

.input-container {
  margin-top: -17px;
}

.input-form {
  border: none;
  background: none;
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  width: 85%;
}